


/* PROJECT TAB */


.project-tab{
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 500;
     text-shadow: 1px 1px 3px black;
   
}


.project-tab-name{
    margin: 0;
  
}

.task-counter{

    position: absolute;
    right: 10px;
    margin: 0;
}









/* PROJECT LIST */


.project-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-header{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5px 16px;
    border-bottom: solid 2px hsl(0, 0%, 20%);
    
  
}

.list-header h2{
    color: hsl(0, 0%, 95%);
    text-shadow: 2px 2px 3px hsl(0, 0%, 20%);
}

.list-header p{
    color: hsl(0, 0%, 95%);
    text-shadow: 2px 2px 3px hsl(0, 0%, 20%);
}




.add-todo-btn{
    position: absolute;
    right: 40px;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 1rem;
    color: hsl(0, 0%, 95%);
    background-color: hsla(0, 0%, 10%, 0.71);
    border: none;
    box-shadow: 2px 2px 3px hsl(0, 0%, 20%);
    cursor: pointer;
}

.add-todo-btn:hover{
    background-color: hsla(0, 0%, 10%, 0.9);

}

.list-body{
    background-color: hsl(0, 0%, 95%);
    height: 100%;
}

