


/* PROJECT TAB */


.project{
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow: 1px 1px 2.5px hsl(0, 0%, 10%);
    width: 100%;
   
}


.project-name{
    margin: 0;
  
}

.task-counter{

    position: absolute;
    right: 10px;
    margin: 0;
}







