





/* PROJECT LIST */



#list{
    display: flex;
    flex-direction: column;
    width: 100%;
}


#list-header{
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: solid 2px hsl(0, 0%, 20%);
    
    padding: 12px 0;
}

#list-header h2{
    
    color: hsl(0, 0%, 95%);
    text-shadow: 2px 2px 3px hsl(0, 0%, 20%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin: 0;
}

@media screen and (max-width:1050px){

    #list-header{
        padding: 15px 0;
    }

    #list-header h2{
        font-size: 1.1rem;
    }
    
}


@media screen and (max-width: 750px){

    #list-header h2{
        width: 300px;
    }

    
}

@media screen and (max-width: 600px){

  
    #list-header h2{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 450px){

    
    #list-header h2{
        width: 250px;
        font-size: 0.9rem;
    }
    
}

@media screen and (max-width: 350px){

    
    #list-header h2{
        width: 200px;
        font-size: 0.9rem;
    }
    
}


#list-option-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: hsl(0, 0%, 50%);
    padding: 5px 0;
    border-bottom: solid 2px hsl(0, 0%, 20%);
}

#list-option-container:not(:has(button)){
    padding: 0;
    border: none;
}

#list-option-container button{

    background-color: hsl(0, 0%, 95%);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1rem;
    color: hsl(0, 0%, 20%);

    
    border: none;
    box-shadow: 2px 2px 3px hsl(0, 0%, 20%);
    cursor: pointer;
   
    flex-shrink: 0;
     
}

#list-option-container button:hover{
    background-color: hsl(0, 0%, 80%);
}

@media screen and (max-width:1050px){
    #list-option-container button{
    font-size: 0.9rem;
}
}

@media screen and (max-width: 450px){
    #list-option-container button{
    font-size: 0.8rem;
    }
}


#list-body{
    background-color: hsl(0, 0%, 95%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
    width: 100%;
    gap: 5px;
    overflow-y: auto;
    padding-bottom: 50px;
  
}







